@page
@{ Layout = "_Layout"; }
  <!-- Page Content-->
  <section class="py-5">
    <div class="container">
      <!-- Page Heading/Breadcrumbs-->
      <h1>
        Blog Home Two
        <small>Subheading</small>
      </h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Blog Home 2</li>
      </ol>
      <!-- Blog Post-->
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <a href="#!"><img class="img-fluid rounded" src="https://via.placeholder.com/750x300" alt="..." /></a>
            </div>
            <div class="col-lg-6">
              <h2 class="card-title">Post Title 1</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
              <a class="btn btn-primary" asp-page="/Blog/BlogDetails" asp-route-id="123">Read More →</a>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          Posted on January 1, 2021 by
          <a href="#!">Start Bootstrap</a>
        </div>
      </div>
      <!-- Blog Post-->
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <a href="#!"><img class="img-fluid rounded" src="https://via.placeholder.com/750x300" alt="..." /></a>
            </div>
            <div class="col-lg-6">
              <h2 class="card-title">Post Title 2</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
              <a class="btn btn-primary" href="/Blog/BlogDetails/2">Read More →</a>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          Posted on January 1, 2021 by
          <a href="#!">Start Bootstrap</a>
        </div>
      </div>
      <!-- Blog Post-->
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <a href="#!"><img class="img-fluid rounded" src="https://via.placeholder.com/750x300" alt="..." /></a>
            </div>
            <div class="col-lg-6">
              <h2 class="card-title">Post Title</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
              <a class="btn btn-primary" href="/Blog/BlogDetails/3">Read More →</a>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          Posted on January 1, 2021 by
          <a href="#!">Start Bootstrap</a>
        </div>
      </div>
      <!-- Blog Post-->
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <a href="#!"><img class="img-fluid rounded" src="https://via.placeholder.com/750x300" alt="..." /></a>
            </div>
            <div class="col-lg-6">
              <h2 class="card-title">Post Title</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
              <a class="btn btn-primary" href="/Blog/BlogDetails/4">Read More →</a>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          Posted on January 1, 2021 by
          <a href="#!">Start Bootstrap</a>
        </div>
      </div>
      <!-- Pagination-->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item"><a class="page-link" href="#!">← Older</a></li>
        <li class="page-item disabled"><a class="page-link" href="/Blog/BlogDetails/5">Newer →</a></li>
      </ul>
    </div>
  </section>
